<%- include('templates/nav.ejs') %>
<%- include('templates/header.ejs', {
    title: 'Cursos',
    descripcion: 'Esta es la descripción de cursos'
}) %>

<article>
    <h2 class="titularH2Estilo"><%= titulo %></h2>

    <section class="cursosSection">
        <% cursos.forEach(element => { %>
            <ul>
                <li class="cursosLista"><%= element.nombre %></li>
                <p class="parrafoCursos"><%= element.duracion %></p>
                <p class="parrafoCursos"><%= `${element.precio}€` %></p>

            </ul>    
        <% }) %>
    </section>
</article>

<%- include('templates/footer.ejs') %>