<%- include('templates/nav.ejs') %>
<%- include('templates/header.ejs', {
    title: 'Instalaciones',
    descripcion: 'Esta es la descripción de instalaciones'
}) %>


<section class="instalacionesSection">
    <h1 class="titularH2Estilo"><%= titulo %></h1>
    <div class="gallery">
        <% instalaciones.forEach(element => { %>
            <article class="gallery-container">
                <div class="flexContainer titulos">
                    <h2 class="imagenesTitulos"><%= element.titulo %></h2>
                </div>
                <img src="assets/<%=element.url%>" alt="<%=element.alt%>">
                <p class="instalacionesParrafo"><%= element.zona %></p>
            </article>
            
        <% }) %>
    </div>
</section>

<%- include('templates/footer.ejs') %>