<%- include('templates/nav.ejs') %>
<%- include('templates/header.ejs', {
    title: 'Profesores',
    descripcion: 'Esta es la descripción de profesores'
}) %>

    
    <section class="profesoresSection">
        <h1 class="titularH2Estilo"><%= titulo %></h1>
        <% profesores.forEach(element => { %>
            <article class="profesorCaja">
                <img src="assets/<%=element.url%>" alt="<%=element.alt%>">
                <h4><%= element.nombre %></h4>
                <p><%= element.descripcion %></p>
            </article>
        <% }) %>
    </section>

<%- include('templates/footer.ejs') %>