<%- include('templates/nav.ejs') %>
<%- include('templates/header.ejs', {
    title: 'Profesores',
    descripcion: 'Esta es la descripción de profesores'
}) %>

    
    <section class="profesoresSection">
        <h2 class="titularH2Estilo"><%= titulo %></h2>
        <% profesores.forEach(element => { %>
            <div class="profesorCaja">
                <img src="/assets/<%=element.url%>" alt="/assets/<%=element.alt%>">
                <h4><%= element.nombre %></h4>
                <p><%= element.descripcion %></p>
            </div>
        <% }) %>
    </section>

<%- include('templates/footer.ejs') %>